# Table of Contents
* [Load data](#Load-models-and-data)
* [Visualize data](#Visualize-data-with-histograms)
* [Train models](#models)

## Load data
[Table of Contents](#Table-of-Contents)

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from ml import Py4R_plots
import joblib
from ml import data_load_S3
from ml import models
from ml import ml_regression

In [2]:
data_X_train, data_X_test, data_y_train, data_y_test = data_load_S3.load_C2X()
mean_y_train = np.mean(data_y_train, axis=0)

In [3]:
#Visualize data in table format
data_X_train

,400,412.5,442.5,490,510,560,620,665,673.75,681.25,708.75,753.75,778.75,865,885
0,0.001364,0.001641,0.002518,0.004955,0.005580,0.006548,0.002153,0.001292,0.001204,0.001151,0.000683,0.000199,0.000222,0.000088,0.000074
1,0.000932,0.000996,0.001138,0.001754,0.001882,0.002212,0.000799,0.000431,0.000384,0.000376,0.000267,0.000077,0.000085,0.000037,0.000027
2,0.001404,0.001482,0.001718,0.002432,0.002613,0.003179,0.001523,0.000984,0.000918,0.000896,0.000561,0.000168,0.000191,0.000073,0.000067
3,0.000886,0.000885,0.000909,0.001200,0.001226,0.001317,0.000532,0.000310,0.000282,0.000275,0.000176,0.000053,0.000055,0.000024,0.000020
4,0.000732,0.000794,0.000960,0.001326,0.001222,0.001002,0.000250,0.000143,0.000134,0.000127,0.000068,0.000019,0.000020,0.000009,0.000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,0.000035,0.000035,0.000049,0.000074,0.000089,0.000144,0.000226,0.000311,0.000328,0.000350,0.000277,0.000088,0.000088,0.000038,0.000031
5566,0.000068,0.000078,0.000112,0.000188,0.000228,0.000370,0.000554,0.000666,0.000679,0.000702,0.000481,0.000145,0.000156,0.000066,0.000054
5567,0.000056,0.000051,0.000046,0.000065,0.000083,0.000176,0.000150,0.000060,0.000048,0.000053,0.001222,0.000429,0.000448,0.000188,0.000160
5568,0.000036,0.000043,0.000061,0.000094,0.000113,0.000186,0.000301,0.000411,0.000442,0.000466,0.000329,0.000101,0.000115,0.000044,0.000039
5569,0.000051,0.000060,0.000086,0.000136,0.000171,0.000280,0.000454,0.000607,0.000628,0.000674,0.000541,0.000169,0.000191,0.000077,0.000069

In [4]:
data_y_train

0         3.30
1         7.20
2         1.20
3         4.00
4         0.15
         ...
5565      2.70
5566      0.34
5567    200.00
5568      0.08
5569      3.10
Name: Chl, Length: 5570, dtype: float64

## Visualize data with histograms
[Table of Contents](#Table-of-Contents)

In [ ]:
#Calling the shape attribute of a dataframe will return a tuple 
#containing the dimensions (rows x columns) of a dataframe
data_X_train.shape

In [ ]:
df=np.log10(data_X_train)

In [ ]:
df.hist(column=['442.5','560','620', '865'], bins=25,grid=False, figsize=(15,10), color='#86bf91', 
                    zorder=2, rwidth=0.9)

In [ ]:
dy=np.log10(data_y_train)

In [ ]:
dy.hist(bins=25,grid=False, figsize=(15,10), color='#86bf91', 
                    zorder=2, rwidth=0.9)

## Train the models
[Table of Contents](#Table-of-Contents)

In [ ]:
#Import function from ml_regression
from ml.ml_regression import train_models

In [ ]:
#Train models specified in 'train_models' (contains different combiantion of data)
train_models()